# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

obj/
ipch/
[Dd]ebug/
[Rr]elease*/
#[Aa]ssets/
*.exe
*.sdf
*.filters
*.user
*.suo
*.pdb
*.ilk
*.exp
*.opensdf